 <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='static/main.css' />
    <title>Text Extractor</title>
</head>
<body>
    <h1>Demonstrator</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="url" name="url" placeholder="Enter URL to scrape" size="60">
        <br><br>
        or select a file to upload
        <br><br>
        <input type="file" name="file" accept=".pdf">
        <br><br><br>
        <input type="submit" class="button-main" role="button" value="Extract and Process">
    </form>
</body>
</html>
